// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

$ms-cell-size: 40px !default;
$ms-board-width-easy: calc(#{$ms-cell-size} * 8);
$ms-board-width-medium: calc(#{$ms-cell-size} * 16);
$ms-board-width-hard: calc(#{$ms-cell-size} * 30);

$ms-board-height-easy: calc(#{$ms-cell-size} * 8);
$ms-board-height-medium: calc(#{$ms-cell-size} * 16);
$ms-board-height-hard: calc(#{$ms-cell-size} * 16);

.row {
    justify-content: center;
}
.minesweeper {
    &__game{
        margin-top: 20px;
    }

    &__scoreboard {
        &--easy{
            width: $ms-board-width-easy;
        }
        &--medium{
            width: $ms-board-width-medium;
        }
        &--hard{
            width: $ms-board-width-hard;
        }
        height: calc(#{$ms-cell-size} * 1.5);
        background: #4b4a43;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        padding: 5px;
        gap: 10px;
        .time, .score{
            width: 35%;
            height: 90%;
            background-color: black;
            color: red;
        }
        .pause{
            height: 100%;
            width: 40px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            .flagCount {
                display: flex;
                flex-direction: row;
                width: 100%;
                height: auto;
                .flag{
                    width: 50%;
                }
                &--count{
                    width: 50%;
                    color: white;
                }
            }
        }
    }

    &__container {
        &--easy{
            width: $ms-board-width-easy;
            height: $ms-board-height-easy;
        }
        &--medium{
            width: $ms-board-width-medium;
            height: $ms-board-height-medium;
        }
        &--hard{
            width: $ms-board-width-hard;
            height: $ms-board-height-hard;
        }
        background-color: #dcd6bc;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .welcome, .playAgain{
            position: absolute;
            top: 50%;
            left: 50%;
        }
    }

    &__cell {
        width: $ms-cell-size;
        height: $ms-cell-size;
        border: 5px solid;
        border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
        box-sizing: border-box;
        font-size: 25px;
        text-align: center;
        font-family: 'Roboto Mono', monospace;
        &.revealed {
            border: 2px solid #9c998d;
            background-color: #cecab7;
            box-sizing: border-box;
        }

        &.revealed.isBomb {
            background: red;
        }
        &.isBomb {
            background: red;
        }

        &.isCorner {
            background: green;
        }
        &.isCorner.isBomb{
            background: purple;
        }

        &.one {
            color: #e76346;
        }

        &.two {
            color: #4199d3;
        }

        &.three {
            color: #57da59;
        }

        &.four{
            color: #bb41d3;
        }
        &.five {
            color: #76150E;
        }
        &.six {
            color: #377E80;
        }
        &.seven {
            color: #000000;
        }
        &.eight {
            color: #808080;
        }
    }

    &__cell--flag, .flag{
        width: $ms-cell-size;
        height: $ms-cell-size;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }
