@import 'variables';
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

:root {
    --num-letters-home-header: 0;
}
//$ms-cell-size: 40px !default;
//$ms-board-width-easy: calc(#{$ms-cell-size} * 8);
//$ms-board-width-medium: calc(#{$ms-cell-size} * 16);
//$ms-board-width-hard: calc(#{$ms-cell-size} * 30);
//
//$ms-board-height-easy: calc(#{$ms-cell-size} * 8);
//$ms-board-height-medium: calc(#{$ms-cell-size} * 16);
//$ms-board-height-hard: calc(#{$ms-cell-size} * 16);

.row {
    justify-content: center;
}
.difficultySelect {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    h2 {
        padding: .5rem 1.5rem;
        max-width: 80%;
        text-align: center;
        //white-space: nowrap;
        letter-spacing: 1px;
        font-size: calc(98 / #{--num-letters-home-header})vw;
    }
    .difficultyOptionList {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .difficultyOption{
            padding: 1rem 1.5rem;
            border-radius: 8px;
            font-size: 1.2rem;
            font-weight: 500;
        }
    }
}

.minesweeper {
    &__game{
        margin-top: 20px;
    }

    &__scoreboard, &__container {
        &--easy { width: $ms-board-width-easy }
        &--medium { width: $ms-board-width-medium }
        &--hard { width: $ms-board-width-hard }
    }

    &__scoreboard {
        height: calc(#{$ms-cell-size} * 1.5);
        background: #4b4a43;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        padding: 5px;
        gap: 10px;
        .time, .score{
            width: 35%;
            height: 90%;
            background-color: black;
            color: red;
        }
        .pause{
            height: 100%;
            width: 40px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            .flagCount {
                display: flex;
                flex-direction: row;
                width: 100%;
                height: auto;
                .flag{
                    width: 50%;
                }
                &--count{
                    width: 50%;
                    color: white;
                }
            }
        }
    }

    &__container {
        &--easy { height: $ms-board-height-easy }
        &--medium { height: $ms-board-height-medium }
        &--hard { height: $ms-board-height-hard }
        background-color: #dcd6bc;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .welcome, .playAgain{
            position: absolute;
            top: 50%;
            left: 50%;
        }
    }

    &__cell {
        width: $ms-cell-size;
        height: $ms-cell-size;
        border: 5px solid;
        border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
        box-sizing: border-box;
        font-size: 25px;
        text-align: center;
        font-family: 'Roboto Mono', monospace;

        &:not(.revealed) {cursor: pointer }

        &.revealed {
            border: 2px solid #9c998d;
            background-color: #cecab7;
            box-sizing: border-box;
            cursor: default;
        }

        &.revealed.isBomb { background: red }

        &.isBomb { background: red }
        .bombIcon {
            font-size: 20px;
        }
        &.isCorner { background: green }

        &.isCorner.isBomb { background: purple }
        &.one { color: #e76346 }
        &.two { color: #4199d3 }
        &.three { color: #57da59 }
        &.four{ color: #bb41d3 }
        &.five { color: #76150E }
        &.six { color: #377E80 }
        &.seven { color: #000000 }
        &.eight { color: #808080 }
    }

    &__cell--flag, .flag{
        width: $ms-cell-size;
        height: $ms-cell-size;
    }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }
